---
import {
  newSound,
  editSound,
  NewSoundDropZone,
  EditCard,
} from "../components/Boards";
import { ViewTransitions } from "astro:transitions";
import { db, eq, Sound } from "astro:db";
import { safeId } from "../utils";

const { R2 } = Astro.locals.runtime.env;
const newSoundReq = await Astro.locals.form.getDataByName(
  "new-sound",
  newSound
);

const editSoundReq = await Astro.locals.form.getDataByName(
  "edit-sound",
  editSound
);

if (editSoundReq?.data) {
  const { id, audioFile } = editSoundReq.data;
  const entry = await db
    .select({ key: Sound.audioFileKey })
    .from(Sound)
    .where(eq(Sound.id, id))
    .get();
  if (!entry) {
    Astro.response.status = 404;
    Astro.response.statusText = `Sound ${id} not found`;
  } else {
    await R2.put(entry.key, await audioFile.arrayBuffer());
    await db
      .update(Sound)
      .set({
        audioFileName: audioFile.name,
      })
      .where(eq(Sound.id, id));
  }
}

if (newSoundReq?.data) {
  const { audioFile } = newSoundReq.data;
  const key = `${safeId()}-${audioFile.name}`;

  await R2.put(key, await audioFile.arrayBuffer());

  await db.insert(Sound).values({
    boardId: "TODO-board-id",
    emoji: "TODO-random-emoji",
    audioFileName: audioFile.name,
    audioFileKey: key,
  });
}

const sounds = await db
  .select({
    id: Sound.id,
    emoji: Sound.emoji,
    audioFileName: Sound.audioFileName,
    audioFileKey: Sound.audioFileKey,
  })
  .from(Sound);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body class="dark:bg-gray-950 dark:text-white">
    <h1>WOMP</h1>
    <div class="max-w-screen-lg m-auto grid md:grid-cols-3 grid-cols-1 gap-3">
      {
        sounds.map((s) => (
          <EditCard
            client:load
            id={s.id}
            audioFileKey={s.audioFileKey}
            audioFileName={s.audioFileName}
          />
        ))
      }
    </div>
    <NewSoundDropZone client:load />
  </body>
</html>
